*.obj
*.lib
*.pdb
*.ncb
*.manifest*
*Debug*
*.suo
*.dep
*.vhost*
*.idb
*.htm*
*.ilk
*.opt
*.user*
*.exp
modTmrProc.bas
wingraph32.exe
*obj*
*.tlog
*.sbr
*.recipe
*.log
*.VC.db
*.FileList*
*.bsc
*.vs/*
IDAJS_2_Setup.exe
IDA_JScript.pdb